*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: 'Courier New', Courier, monospace;
    color: cadetblue;
    margin-left: 7%;
}

#subtitulo{
    font-family: 'Courier New', Courier, monospace;
    color: coral;
    margin-left: 10%;
}

/*.nunes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

fieldset{
    border: 0;
}

body{
    background-color: rgb(213, 234, 235);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: rgb(95, 95, 95);
    /* margin-left: 36%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}

form{
    margin-left: 15em;
    margin-right: 15em;
}

input, textarea, button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: coral; /* there has been a change */
    border-radius: 5px;
}

.grupo:before, .grupo:after{
    display: table;
}

.grupo:after{
    clear: both;
}

select{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: coral; /* change */
    border-radius: 5px;   
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2 em;
    color: rgb(95, 95, 95);
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid cadetblue;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    /*display: block;*/
}

.campo select{
    background-color: white;
}

.campo select:hover{
    background-color: coral;
    color: white; /* change */
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: coral;
    color: white; /* this is the change */
}

.botao{
    font-size: 1.2em;
    background: coral;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: relative;
    top: 90%;
    margin-top: 1em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/*#check {
    display: inline;
}*/

.botao, select{
    cursor: pointer;
}
